     body {
        background: #13756D;;
      }
      .wrapper {
        width: 100%;
      }
      h2 {
      font-size: 2em;
      padding: 40px;
      margin: 0;
      color: #333;
      text-align: center;
    }
    ul {
     padding: 0px;
     margin: 0px;
    }
    li {
    font-size: 2em;
    padding: 40px;
    list-style-type: none;
    margin-left: 0px;
    padding-left: 0px;
  }

  li input[type="checkbox"] {
    width: 40px;
  }


  .emphasis {
    font-family: vast-shadow, sans-serif;
    font-size: 4em;
  }

    
    .add-input {
  width: 60%;
  height: 20px;
  float: left;
  border: none;
  padding: 40px 0;
  font-size: 2em;
  text-indent: 55px;
}
.add-btn {
  width: 40%;
  border: none;
  background: #29F4E3;
  padding: 0;
  height: 100px;
  h2 {
   background: #29F4E3;
   padding: 0;
   font-size: 4em;
   color: #333;
  }
}
.clear-btn {
  width: 100%;
  border: none;
  height: 100px;
  background: #13756D;
  font-size: 2em;
  color: #aaa;
}
.done {
  text-decoration: line-through;
}