<!DOCTYPE html>
<html ng-app="todoApp">
  <head lang="en">
    <meta charset="UTF-8">
    <title>Todo App</title>
    <link rel="stylesheet" type="text/css" href="../../style/todo.css"  />
    <script type="text/javascript" src="../../angular.min.js" ></script>
    <script type="text/javascript" src="todo_v1.js"> </script>
  </head>
  <body>
    <div class="wrapper" ng-controller="ToDoCtrl">
      <h2>You've got <span class="emphasis">{{getTotalTodos()}}</span> thing(s) to do</h2>
      <p> ToDo Title: {{todo_items.title}}
      <p> ToDo Status: {{todo_items.done}}
      <form>
          <input class="add-input" placeholder="" type="text" ng-model="newTodo" />
          New TodDo: {{newTodo}}
      </form>
    </div>
  </body>
</html>