<!DOCTYPE html>
<html ng-app="todoApp">
  <head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.2/angular.min.js" >
    </script>
    <script type="text/javascript" src="todo_v2.js"> </script>
  </head> 
  <body>
  	<div class="wrapper" ng-controller="ToDoCtrl">
  	 <form>
          <input class="add-input" placeholder="" type="text" ng-model="newTodo" />
          New item {{newTodo}}
      </form>
    </div>
  </body>	