<!DOCTYPE html>
<html ng-app="todoApp">
  <head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.2/angular.min.js" >
    </script>
    <script type="text/javascript" src="todo_v3.js"> </script>
  </head> 
  <body>
  	<div class="wrapper" ng-controller="ToDoCtrl">
  	 <ul>
          <li ng-repeat="todo in todo_items">
            <input type="checkbox" ng-model="todo.done" />
            <span ng-class="{'done': todo.done}">  {{todo.title}} </span>
          </li>
      </ul>
      <form>
          <input class="add-input" placeholder="" type="text" ng-model="newTodo" />
          New item {{newTodo}}
      </form>
    </div>
  </body>	