<!DOCTYPE html>
<html ng-app="todoApp">
  <head lang="en">
    <meta charset="UTF-8">
    <title>Todo App</title>
    <link rel="stylesheet" type="text/css" href="../../style/todo.css"  />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.2/angular.min.js" ></script>
    <script type="text/javascript" src="todo_v4.js"> </script>
  </head>
  <body>
    <div class="wrapper" ng-controller="ToDoCtrl">
      <ul>
          <li ng-repeat="todo in todo_items">
            <input type="checkbox" ng-model="todo.done" />
            <span ng-class="{'done': todo.done}">  {{todo.title}} </span>
          </li>
      </ul>
      <form>
          <input class="add-input" placeholder="" type="text" ng-model="newTodo" />
          <button class="add-btn" ng-click="addToDo()"><h2>Add</h2></button>
      </form>
       <button class="clear-btn" ng-click="removeToDo()">Clear completed</button>
    </div>
  </body>
</html>