<!DOCTYPE html>
<html ng-app>
  <head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script type="text/javascript" src="../../angular.js" >
  </script>
  </head>
  <body>
    <h1> Hello</h1>
    <h1>{{name}} </h1>
    <input type="text" ng-model="name" />
  </body>
</html>   